# Coverage files
coverage.out
coverage.html

# Binary files
matchmaker

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

/vendor/
/configs/config.json
/client_secret.json
/persons.yml
/problem.yml
/planning.yml
/persons.back.yml
